@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" />
<div class="text-center">
    <h6>Witamy na stronie LiberDent-Intranet</h6>
    <p>Życzymy miłej pracy :)</p>
</div>
