@{
    ViewData["Title"] = "Confirm email";
}


<div class="text-center">
    <p style="font-size:small">
        Twoje konto zostało aktywowane.
    </p>
    <p>
        Dziękujemy za potwierdzenie rejestracji.
    </p>
</div>