@{
    ViewData["Title"] = "forgot password confirmation";
}


<div class="text-center">
    <p style="font-size:small">
        Email został wysłany.
    </p>
    <p>
        Sprawdź swoją skrzynkę pocztową w celu zresetowania hasła.
    </p>
</div>