
@{
    ViewData["Title"] = "Resetowanie hasła";
}
<center>
<h6 class="title">@ViewData["Title"]</h6>
<p>
    Twoje hasło zostało pomyślnie zresetowane. Kliknij <a class="btn-flat light-blue lighten-1" asp-action="Login"> tutaj aby się zalogować</a>.
</p>
</center>