@model LiberDent.Data.Data.CMS.ONas

@{
    ViewData["Title"] = "Edytuj";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h6>Edytuj</h6>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdONas" />
            <div class="form-group">
                <label asp-for="Naglowek" class="control-label"></label>
                <input asp-for="Naglowek" class="form-control" />
                <span asp-validation-for="Naglowek" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tresc1" class="control-label"></label>
                <input asp-for="Tresc1" class="form-control" />
                <span asp-validation-for="Tresc1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tresc2" class="control-label"></label>
                <input asp-for="Tresc2" class="form-control" />
                <span asp-validation-for="Tresc2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Zapisz" class="btn btn-outline-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-outline-secondary" asp-action="Index">Powrót do listy</a>
</div>

